################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/QA_Pool_5/Pool_5/Tests/Lanskix/.vs/draftautotesting/v15/.suo
